body {
    background-color: skyblue;
    color: darkslateblue;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;

}
 
input {
    color: black;
    border: 3px solid darkblue;
    border-radius: 3px;
    padding: 3px;
}

form {
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    background-color: lightblue;
    padding: 20px;
    border: 3px solid darkblue;
    border-radius: 5px;
}

button {
    cursor: not-allowed;
}